.banner-clr{
    background-color:#264653 ;
}
.btn-clr{
    background-color: #E76F51;
}
.icon-clr{
    color: #E76F51;

}
.bike{
    filter: grayscale(1);
}
.item{
    transition: 0.5s ;
}
.boy{
    width: 150px;
}
.item:hover{
    filter:grayscale(1) brightness(70%);

}
footer{
    height: 150px;
}